<div class="cv-container" #cvContainer *ngIf="cvData">
    <div class="row">
      <div class="column left">
        <!-- Personal Information -->
         <section class="personal-info">
        <h2>Personal Information</h2>
        <h3>{{ cvData.personalInformation.name }}</h3>
        <p>Email: {{ cvData.personalInformation.email }}</p>
        <p>Tel: {{ cvData.personalInformation.tel }}</p>
        <p>
          Personal Repo:
          <a href="{{ cvData.personalInformation.personalRepo }}" target="_blank">
            {{ cvData.personalInformation.personalRepo }}
          </a>
        </p>
    

        <h3>Nationality:</h3>
        <ul>
          <li *ngFor="let nationality of cvData.nationality">{{ nationality }}</li>
        </ul>
        <h3>Travel Documentation:</h3>
        <ul>
          <li *ngFor="let doc of cvData.travelDocumentation">{{ doc }}</li>
        </ul>
        <!-- Education -->
        <h3>Education</h3>
        <p>{{ cvData.education }}</p>
    </section>
        <!-- Skills -->
        <h2>Skills</h2>
        <h3>Languages:</h3>
        <ul>
          <li *ngFor="let language of cvData.skills.languages">{{ language }}</li>
        </ul>
        <h3>Software Development:</h3>
        <ul>
          <li *ngFor="let skill of cvData.skills.softwareDevelopment">{{ skill }}</li>
        </ul>
        <h3>Stacks:</h3>
        <ul>
          <li *ngFor="let stack of cvData.skills.stacks.MEAN">{{ stack }}</li>
        </ul>
        <h3>Management Skills:</h3>
        <ul>
          <li *ngFor="let skill of cvData.skills.managementSkills">{{ skill }}</li>
        </ul>
      </div>
      <div class="column right">
        <!-- Work Experience -->
        <h2>Work Experience</h2>
        <div *ngFor="let job of cvData.workExperience">
          <h3>{{ job.company }}</h3>
          <h6>{{ job.location }} | {{ job.period }}</h6>
          <h5>{{ job.position }}</h5>
          <p *ngFor="let responsibility of job.responsibilities">
            {{ responsibility }}
          </p>
        </div>
      </div>
    </div>
  </div>
  